.ticker-container {
    overflow: hidden;
    background-color: #00A65A;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    white-space: nowrap;
    margin-bottom: 10px;
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ticker {
    display: inline-block;
    animation: tickerMove 15s linear infinite;
}

.ticker-item {
    display: inline-block;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #ffffff; /* Light font color */
}

.chart-container {
    width: 100%;
    padding: 20px;
}
.bar-chart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.bar-label {
    flex: 1;
    padding-right: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}
.bar-value {
    position: relative;
    flex: 9;
    height: 20px;
    background-color: #4BC0C0;
    border-radius: 5px;
}
.bar-percentage {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.legend {
    margin-top: 20px;
}
.legend li {
    list-style: none;
    margin-bottom: 5px;
}
.legend .color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
}

@keyframes tickerMove {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
